:root {
  --font: "Montserrat", sans-serif;

  --white: #FFFFFF;
  --black: #000000;
  --gray: #E2E2E2;
}

body {
  background-color: var(--white);
  font-family: var(--font);
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
